:root {
    --cor-primaria: #003566;
    /* azul-escuro */
    /* --cor-secundaria: #00B4D8; */
    /* azul-agua */
    --cor-destaque1: #FB8500;
    /* laranja */
    --cor-destaque2: #F4A261;
    /* amarelo-sol */
    --cor-texto: black;
    --cor-texto-secundaria: white;
    --fonte-titulo: "Times New Roman", "Georgia", serif;
    --fonte-body: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte-body);
    color: var(--cor-texto);
}

header,
main,
footer {
    max-width: 840px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 120px 1fr;
    align-items: center;

}

header img {
    width: 120px;
    height: auto;
}

h1,
h2 {
    font-family: var(--fonte-titulo);
    color: var(--cor-primaria);
    text-align: center;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--cor-destaque1);
    color: var(--cor-primaria);
}

.hero article {
    position: absolute;
    background-color: var(--cor-primaria);
    color: var(--cor-destaque2);
    top: 410px;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

section img {
    width: 120px;
    height: auto;
}

figure {
    text-align: center;
}

footer {
    background-color: var(--cor-primaria);
    display: grid;
    grid-template-columns: 600px 1fr;
    align-items: center;
    text-align: center;
}

footer p {
    color: white;
    justify-self: end;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    float: right;
    width: 125px;
    margin: 10px;
}

.historia {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.historia p {
    text-align: left;
}

.historia img {
    width: 200px;
    margin: 0 auto;
}

.aventura {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
}

.aventura h2 {
    grid-column-start: 1;
    grid-column-end: 6;
    padding-bottom: 30px;
}

.redes-sociais img {
    width: 30px;
    height: auto;
}

.redes-sociais a {
    text-decoration: none;
}

.redes-sociais {
    justify-self: end;
}

.socialmedia {
    justify-self: end;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 30px;
    height: auto;
}

.navegacao {
    display: flex;
    list-style: none;
}

.navegacao li {
    flex: 1 1 auto;
}

.navegacao a {
    display: block;
    color: navy;
    padding: 20px;
    text-decoration: none;
    font-size: 1.2rem;
}

.dados-empresa p {
    text-align: center;
    font-weight: 700;
    padding: 0;
    margin: 2px;
}

.mapa-formulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

iframe {
    margin-right: 20px;
}

form {
    display: grid;
    padding: 0 0.5rem;
}

.item-formulario {
    display: grid;
    align-items: center;
}

.item-formulario p {
    padding: 0;
    margin: 0;
}

.coluna2 {
    grid-template-columns: 1fr 3fr;
    margin: .5rem 0;
}

.opcoes {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

input,
textarea {
    padding: .4rem;
    font-size: 1.1em;
    border-radius: 0.2rem;
}

button {
    background-color: var(--cor-primaria);
    color: white;
    padding: 0.8rem;
    margin: 1rem;
    border: none;
    border-radius: .5rem;
    font-size: 1em;
}

button:hover {
    background-color: var(--cor-destaque1);
}

#check {
    padding: 10px 0;
}

.funcionarios {
    max-width: 840px;
    margin: 0 auto 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    /* background-color: #63B3D7; */
    /* border: 1px solid var(--cor-primaria); */
}

.funcionarios h2 {
    grid-column-start: 1;
    grid-column-end: 4;
    padding-bottom: 30px;
}