:root {
    --largura-imagem: 150px;
    --cor-borda: black;
    --cor-sombra: gray;
}

/* Resetar CSS do meu projeto */

* {
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

img {
    width: var(--largura-imagem);
    height: auto;
    border: 1px solid var(--cor-borda);
    padding: 2px;
    box-shadow: 0 0 30px var(--cor-sombra);
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

main img {
    margin-left: 20px;
    margin-bottom: 20px;
    width: var(--largura-imagem);
    height: auto;
    border: 1px solid var(--cor-borda);
    padding: 2px;
    box-shadow: 0 0 30px var(--cor-sombra);
    float: right;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
}

aside h2 {
    position: absolute;
    top: 1px;
    left: 94px;
}

aside img {
    width: 250px;
    height: auto;
}

footer {
    margin-top: 30px;
    border-top: 1px solid var(--cor-borda);
    text-align: center;
}

/* Seletores de Classe */

.caixa {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #eee;
    color: #333;
}

.identacao {
    padding-left: 2rem;
}